body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Newsreader', serif;
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 4em;
  color:#ebe700;
  text-align: center;
  background-color: rgba(128, 128,128); opacity: 0.4;
}

.btn-xl {
  background-color: #ebe700;
  border-style: solid #ebe700;
}